.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.card-dim{
  width: 262px;
  height: 375px;
}

.barcodeDim{
  width: 180px !important;
  height: auto !important;
  margin: 0 auto;
}

/* .card-fields{
  padding: 0.278571em 1em !important;
}

.ui.form .field {
  margin: 0 0 0.4em;
} */

.ui.form .field>label {
  color: #3e5e9b !important;
  font-weight: 400 !important;
}

.text-vs{
  font-size: 9px;
  color: #3e5e9b;
}

.record{
  top: 80px !important;
  right: 5% !important;
}

.alert-box{
  top: 20px !important;
  left: 43% !important;
  position: absolute !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-red{
  background-color: #f50057;
}
